@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #000;
  background: #fff;
}
nav {
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #fff;
  color: black;
}
.img {
  background: url("Desktop-10.png") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns {
  margin-top: 20px;
}
.center .btns button {
  height: 55px;
  width: 190px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 15px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button {
  background: white;
  color: black;
}
.btns button:hover {
  background: white;
  color: black;
}

.middle {
  position: absolute;
  top: 172%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
/*this is for card*/

.middle .title {
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: 600;
}
.middle .sub_title {
  color: rgb(8, 8, 8);
  font-size: 25px;
  font-weight: 600;
}
.btns a {
  text-decoration: none;
  color: #000;
}

.ground {
  min-height: 120vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.info {
  flex: 1;
  margin-right: 50px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.info p {
  margin-bottom: 15px;
}

.phone-icon,
.mobile-icon,
.email-icon {
  margin-right: 5px;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
}

.nav-links ul li {
  display: inline;
  margin-right: 20px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #f0f0f0;
}

.logo {
  width: 180px;
  font-size: 16px;
  font-weight: bold;
}

.social_media {
  margin: 20px 150px;
}

.social_media a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  transition: 0.6s;
}

.social_media a:hover {
  color: gold;
}
h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #000000 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
h3 a {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  text-decoration: none;
  margin: 1em 0;
}
p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #000000;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #000000;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* about us */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  height: 90vh;
  width: 100%;
  padding: 90px 0;
  background: #ddd;
}
.pic {
  height: auto;
  width: 302px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
  border: 1px solid #4070f4;
}

/* contact us */

/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}
.numeric-metrics {
  padding: 50px 0;
  background-color: #f9f9f9;
  position: relative;
  bottom: 150px;
}

.numeric-metrics .container {
  max-width: 1200px;
  margin: 0 auto;
}

.numeric-metrics h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.metric-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.metric-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.metric-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.metric-card p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.metric-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.solution-products {
  padding: 50px 0;
  background-color: #f9f9f9;
  position: relative;
  bottom: 100px;
}

.solution-products .container {
  max-width: 1200px;
  margin: 0 auto;
}

.solution-products h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  flex: 0 0 auto;
  white-space: normal;
}

.product-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.product-card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
@keyframes moveSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.our-clients {
  padding: 50px 0;
  position: relative;
  bottom: 210px;
}

.our-clients .container {
  max-width: 800px;
  margin: 0 auto;
}

.our-clients h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.slideshow {
  display: flex;
  overflow-x: hidden;
}

.client-card {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 20px; /* Add space between client cards */
  animation: moveSlide 10s linear infinite;
}
